<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>800</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>descender</key>
    <integer>-200</integer>
    <key>familyName</key>
    <string>Volume Neue</string>
    <key>openTypeHheaAscender</key>
    <integer>960</integer>
    <key>openTypeHheaDescender</key>
    <integer>-240</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2TypoAscender</key>
    <integer>800</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-200</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>200</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>960</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>240</integer>
    <key>styleName</key>
    <string>Bold</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>xHeight</key>
    <integer>600</integer>
    <key>postscriptWeightName</key>
    <string>Bold</string>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
  </dict>
</plist>
